<h1>SELECCIONE EL PERFIL DE INGRESO:</h1>

<form method="get" action="/login/profesor">
	<button type="submit"> Profesor </button>
 </form>

<form method="get" action="/login/alumno">
	<button type="submit"> Alumno </button>
 </form>
